body{

background: url('http://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-yellow-solid-color-background.jpg') no-repeat center center fixed;

-moz-background-size: cover;

-webkit-background-size: cover;

-o-background-size: cover;

background-size: cover;
    
}



.navbarUsername{
	color:white;
}

.postTextArea {
	height:100px;
	width: 300px;
	resize:none;
}

.postAndButton{
	width:30em;
	height:7.2em;
	position:relative;
}

.postAndButton #postButton {
	position:absolute;
	top:4.8em;
}

.eachPost{
	width: 20em;
	margin-top:2em;
	margin-bottom:2em;
	position:relative;
}

.eachPost .postName{
	text-align:right;
}

.eachPost{
	word-wrap: break-word;
	text-align:justify;
	background-color:#FFE4B2;
	padding: 4pt 4pt 4pt 4pt;
	border-radius: 8pt;
}


.eachPost .postDate{
	font-style:italic;
	
}

.eachPost .postName{
	font-weight:bold;
	position:block;
}


.changePasswordForm{
	width:15em;
	clear:both;
}

.changePasswordForm .passwordFormBox{
	width:100%;
	clear:both;
}

.middleRegion{
	margin: 0 auto;
	width:60%;
}
