<div class="initialHome" ng-show="!currentUser">
<h1> Hello to Yip</h1>
<p>https://github.com/jNunez1993/Yip</p>
</div>



<div class="mainHome" ng-show="currentUser" ng-init="init()"> 
	<div class="col-md-3 sideOfMainHome">
	</div>
	<div class="col-md-6">
		<div class="MiddleRegion">
			<div class="postAndButton">
				<textarea class="postTextArea" type="text"  maxlength="140" ng-model="post"> </textarea>
				<button class="btn btn-primary" id="postButton" ng-click="yip()"> post </button>
			</div>
			<div class="postRegion" ng-repeat="posts in feed.slice().reverse()">
				<div class="eachPost">
					<div class="postContent">{{posts.post}}</div>
					<div class="postName">{{posts.postedBy}}</div>
					<div class="postDate">{{posts.date | date:'medium'}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 sideOfMainHome">
	</div>
</div>

